<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<header class="main-header">
<!-- <header class="navbar "> -->

    <nav class="navbar navbar-expand-lg bg-{settings.navigation.background} navbar-{settings.navigation.style}{f:if(condition:settings.logo.file,then:' navbar-has-image')}{f:if(condition:settings.navigation.type, else:' navbar-top', then:' navbar-{settings.navigation.type} fixed-{settings.navigation.type}')}">

        <f:if condition="{settings.logo.file}">
            <f:then>
                <f:link.page 
                    pageUid="{rootPage}" 
                    class="navbar-brand navbar-brand-image" 
                    title="{settings.logo.linktitle}">

                    <img 
                        class="navbar-brand-logo-normal" 
                        src="{f:uri.image(src: settings.logo.file)}" 
                        alt="{logoAlt}" 
                        height="{settings.logo.height}"
                        width="{settings.logo.width}">

                    <img class="navbar-brand-logo-inverted" 
                        src="{f:uri.image(src: settings.logo.fileInverted)}" 
                        alt="{logoAlt}" 
                        height="{settings.logo.height}"
                        width="{settings.logo.width}">

                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{rootPage}" class="navbar-brand" title="{settings.logo.linktitle}">{siteTitle}</f:link.page>
            </f:else>
        </f:if>

        <f:if condition="{mainnavigation}">
            <button 
                class="navbar-toggler collapsed" 
                type="button" 
                data-toggle="collapse" 
                data-target="#mainnavigation" 
                aria-controls="mainnavigation"
                aria-expanded="false" 
                aria-label="Toggle navigation">
                
                <span class="navbar-toggler-icon"></span>
            </button>
        </f:if>

        <f:if condition="{mainnavigation}">
            <div class="collapse navbar-collapse" id="mainnavigation">
                <ul class="navbar-nav ml-auto">
                    <f:for each="{mainnavigation}" as="mainnavigationItem">
                        <f:if condition="{mainnavigationItem.spacer}">
                            <f:then>
                                </ul>
                                <ul class="navbar-nav mr-auto">
                            </f:then>
                            <f:else>
                                <li class="nav-item{f:if(condition: mainnavigationItem.active, then:' active')}{f:if(condition: mainnavigationItem.children, then:' dropdown dropdown-hover')}">
                                    <f:if condition="{mainnavigationItem.children}">
                                        <f:then>
                                            <a  
                                                class="nav-link dropdown-toggle"
                                                href="{mainnavigationItem.link}"
                                                {f:if(condition: mainnavigationItem.target, then: ' target="{mainnavigationItem.target}"')} 
                                                title="{mainnavigationItem.title}">

                                                <f:if condition="{mainnavigationItem.icon}">
                                                    <span class="navbar-item-icon">
                                                        <f:image 
                                                            image="{mainnavigationItem.icon.0}" 
                                                            alt="{mainnavigationItem.icon.0.alternative}" 
                                                            title="{mainnavigationItem.icon.0.title}"
                                                            width="{settings.navigation.icon.width}" 
                                                            height="{settings.navigation.icon.height}" />
                                                    </span>
                                                </f:if>
                                                <span class="navbar-item-text">{mainnavigationItem.title}</span>
                                                <b class="caret"></b>
                                                <span class="bar"></span>
                                            </a>
                                            <div class="dropdown-menu">
                                                <f:for each="{mainnavigationItem.children}" as="child">
                                                    <f:if condition="{child.spacer}">
                                                        <f:then>
                                                            <span class="dropdown-header">{child.title}</span>
                                                        </f:then>
                                                        <f:else>
                                                            <a 
                                                                class="{f:if(condition: child.active, then:'active')}"
                                                                href="{child.link}"
                                                                {f:if(condition: child.target, then: ' target="{child.target}"')} 
                                                                title="{child.title}">

                                                                <f:if condition="{child.icon}">
                                                                    <span class="navbar-item-icon">
                                                                        <f:image 
                                                                            image="{child.icon.0}" 
                                                                            alt="{child.icon.0.alternative}" 
                                                                            title="{child.icon.0.title}" 
                                                                            width="{settings.navigation.icon.width}"
                                                                            height="{settings.navigation.icon.height}" />
                                                                    </span>
                                                                </f:if>

                                                                <span class="navbar-item-text">{child.title}</span>
                                                            </a>
                                                        </f:else>
                                                    </f:if>
                                                </f:for>
                                            </div>
                                        </f:then>
                                        <f:else>
                                            <a 
                                                class="nav-link"
                                                href="{mainnavigationItem.link}"
                                                {f:if(condition: mainnavigationItem.target, then: ' target="{mainnavigationItem.target}"')} 
                                                title="{mainnavigationItem.title}">

                                                <f:if condition="{mainnavigationItem.icon}">
                                                    <span class="navbar-item-icon">
                                                        <f:image image="{mainnavigationItem.icon.0}" alt="{mainnavigationItem.icon.0.alternative}" title="{mainnavigationItem.icon.0.title}"
                                                            width="{settings.navigation.icon.width}" height="{settings.navigation.icon.height}"
                                                        />
                                                    </span>
                                                </f:if>
                                                <span class="navbar-item-text">{mainnavigationItem.title}</span>
                                                <span class="bar"></span>
                                            </a>
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:else>
                        </f:if>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </nav>

</header>

</html>